language: python
# Python releases to test
python:
  - 2.7
  - 3.4
# Django releases
env:
  - DJANGO_VERSION=Django==1.6.10
  - DJANGO_VERSION=Django==1.7.5
  - DJANGO_VERSION=Django==1.8.14
  - DJANGO_VERSION=Django==1.9.9
  - DJANGO_VERSION=Django==1.10.1
  - DJANGO_VERSION=git+git://github.com/django/django.git@3fff408a27d06c3d21a1c184cd6bd47f0785e279
install:
  - pip install -q $DJANGO_VERSION
  - python setup.py install -q
script: make test
notifications:
  email:
    on_success: never
    on_failure: change
